
.title{
    text-align: center;
    text-transform: capitalize;
    color: wheat;
    margin: 10px 0;
    position: relative;
    top: 12vh;
}

.team{
    max-height: 100vh;
}

.title::after{
    content: "";
    position: absolute;
    width: 20%; height: 2px;
    background-image: linear-gradient(to left, transparent 5%, #726a95);
    bottom: -10px; left: 50%;
    transform: translate(-50%);
}

.team-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
    position: relative;
    top: 6vh;
}

.member{
    
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
    cursor: url(./cursor2.png), text;
}

.member:hover{
    box-shadow: 0 10px 20px rgba(255,255,255,255);
    transform: translateY(-20px);
}

.member img{
    display: block;
    width: 150px; height: 150px;
    object-fit: cover;
    border:4px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
}

.member h2{

    font-size: 24px;
    color: #fff;
    margin: 15px 0;
}

.member p{
    font-size: 15px;
    color: #fff;
    line-height: 1.6;
}