.contain{
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: black
}



.pirate-spinner {
    background-image:url(https://i.ibb.co/kHfd1Mv/pngegg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    animation: spin 1s linear infinite;
    -webkit-animation:spin 1s linear infinite;;
}
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  